body {
    overflow-y: auto;
}
.navbar {
    background-color:#24292e;
    height: 70px;
    margin-bottom: 2rem;
}

.title {
    color: white;
    font-size: 2rem;
}

span {
    size: 1
}

.card {
    box-shadow: -3px 2px 5px grey;
    height: 435px;
    margin-left: 2rem;
    overflow-y: auto;
}

.cardImg {
    border-bottom: solid grey 1px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(238, 234, 234));
}

.card-price {
    font-size: 1.3rem;
}

.detailsCard {
    box-shadow: -3px 2px 5px grey;
    height: fit-content;
    padding: 5px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(238, 234, 234));
}

.detailsImg {
    box-shadow: -3px 2px 5px rgb(226, 225, 225);
    background-color: inherit;
    margin-left: 5px;
    margin-top: 10px;
}

.fa-shopping-cart {
    margin-right: 2rem;
}

.addToCart {
    box-shadow: -3px 2px 5px rgb(226, 225, 225);
    background-image: linear-gradient(to bottom, rgb(68, 180, 255), rgb(45, 45, 221));
    color: white;
}